[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
"boto3" = "*"
pika = "*"
marshmallow = "*"
pyopenssl = "*"
redis-simple-cache = {ref = "master", git = "https://github.com/Rydra/redis-simple-cache.git/"}
pyhamcrest = "*"

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
pytest-pythonpath = "*"
